/* Header.module.css */
.icon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 8px;
}

.navbarBrand {
  height: 50px;
  width: 120px;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.searchContainer {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #868080;
  font-size: 1rem;
}