.icon {
  font-size: 1.6rem;
  vertical-align: middle;
  margin-right:4px;
  margin-bottom: 5px;
}
.icon2{
  font-size: 1.6rem;
    vertical-align: middle;
    margin-right: 4px;
}
.navbarBrand {
  height: 40px;
  width: 100px;
}
.profile,.search{
  margin-left: 1rem;
}
.searchContainer {
  position: relative;
  width: 100%;
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #868080;
  font-size: 1rem;
}
.mobnavbar{
  display: none;
}
@media (max-width:991px) {
  .profile,
    .search{
      margin-left:0;
      width: 100%;
    }
}
