.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: transparent;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 350px;
  max-width: 90%;
  position: relative;
  text-align: center;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #333;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(128, 128, 128);
}

.formDiv {
  margin-bottom: 20px;
  text-align: left;
}

.labelStyle {
  display: block;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 14px;
}

.inputStyle {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background-color: transparent;
}

.submitButton {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: rgb(128, 128, 128);
}

.toggleText {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.toggleText:hover {
  color: #0056b3;
}