.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  position: inherit;
}
.closeButton {
  padding: 5px 11px;
  border: 1px solid white;
  border-radius: 50%;
}
@media screen and (max-width: 676px) {
.btn{
  --bs-btn-padding-x:0.02rem;
  --bs-btn-font-size:0.5rem
}
.table{
  font-size: 0.5rem;
 }
}




