/* Header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.headerIcons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.6rem;
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 5px;
}

.icon2 {
  font-size: 1.6rem;
  vertical-align: middle;
  margin-right: 4px;
}

.navbarBrand {
  height: 40px;
  width: 100px;
}

.profile, .search, .modeToggle {
  margin-left: 1rem;
}

.searchContainer {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #868080;
  font-size: 1rem;
}

.mobnavbar {
  display: none;
}

@media (max-width: 991px) {
  .profile, .search {
    margin-left: 0;
    width: 100%;
  }
}

/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

/* Dark mode styles */
.dark-mode .navbar {
  background-color: #333;
  color: #fff;
}

.dark-mode .btn-outline-secondary {
  border-color: #666;
  color: #fff;
}

.dark-mode .dropdown-menu {
  background-color: #444;
  color: #fff;
}

.dark-mode .form-control {
  background-color: #555;
  color: #fff;
}

.dark-mode .searchIcon {
  color: #ccc;
}

/* Light mode styles */
.light-mode .navbar {
  background-color: #fff;
  color: #000;
}

.light-mode .btn-outline-secondary {
  border-color: #ccc;
  color: #000;
}

.light-mode .dropdown-menu {
  background-color: #fff;
  color: #000;
}

.light-mode .form-control {
  background-color: #fff;
  color: #000;
}

.light-mode .searchIcon {
  color: #666;
}
