.videocontainer {
  position: relative;
  width: 100vw;
  height: 65vh;
  top: -12vh;
  max-height: 70vh;
  z-index: 0;
}

.videocontainer video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  background-color: black;
}

.contentContainer {
  position: absolute;
  bottom:-10vh;
  left: -3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  width: 50%;
  overflow: hidden;
}

.title {
  font-size:3vw;
  color: whitesmoke;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.bookButton,
.infoButton {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  font-size:1vw;
  padding: 8px;
  margin: 0;
}

.bookButton:hover,
.infoButton:hover {
  border-color: white;
  color: white;
}

.muteButton {
  position: absolute;
  left: 95vw;
  bottom:-10vh;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.icon3 {
  font-size: 2rem;
  color: gray;
}

.leftButton,
.rightButton {
  position: absolute;
  top:75%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  font-size: 3rem;
  z-index: 1;
}

.leftButton {
  left: 10px;
}

.rightButton {
  right: 10px;
}

.iconNav {
  font-size: 3rem;
  color: gray;
}

@media (max-width:1100px) {
  .videocontainer {
    top: -30vh;
  }

  .videocontainer video {
    object-fit:contain;
  }

  .contentContainer {
    bottom:-15vw;
    translate:28vw;
  }

  .title {
    font-size:5vw;
  }

  .bookButton,
  .infoButton {
    font-size: 1rem;
    padding: 6px;
  }

  .icon3 {
    font-size: 1.5rem;
  }

  .muteButton {
    left: 95vw;
    bottom:-1vh;
  }

  .leftButton,
  .rightButton {
    font-size: 2rem;
  }
}


@media (max-width:700px) {
  .videocontainer {
    height: 40vh;
    top:-32vh;
  }

  .contentContainer {
    bottom:-28vh;
    translate:28vw;
  }

  .title {
    font-size:5vw;
    width: 100%;
  }

  .bookButton,
  .infoButton {
    font-size: 0.8rem;
    padding: 4px;
  }

  .icon3 {
    font-size:7vw;
  }

  .muteButton {
    left:88vw;
    top:54vh;
  }

  .iconNav{
    font-size:7vw;
  }

  .leftButton,
  .rightButton {
    top:48vh;
  }
}
