/* src/SeatSelectionPopup.module.css */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.321);
  z-index: 1000;
}

.popupContent {
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 22px gray;
  width: 65vw;
  max-height: 80vh;
  overflow: hidden; /* Prevent content overflow */
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position:fixed; 
  top: 15px;
  right: 20px;
  color: white;
  z-index: 1010; /* Ensure the button is on top */
}

.theaterInfo {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  position: sticky; /* Keep it fixed during scroll */
  top: 0;
  background-color: transparent; /* Match the background to make it seamless */
  z-index: 1001;
}

.seatingArrangement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust gap for spacing */
  overflow-y: auto; /* Enable scrolling within this area */
  padding-top: 10px; /* Add some padding to avoid overlap */
}

.section {
  margin-bottom: 20px;
}

.sectionName {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center; /* Center the row content */
  gap: 10px;
}

.rowLabel {
  font-weight: bold;
  margin-right: 10px;
}

.seatBlock {
  display: flex;
  align-items: center;
  gap: 5px;
}

.seat {
  width: 30px;
  height: 30px;
  background-color: gray; /* Green color for seats */
  border: 1px solid whitesmoke;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: black; /* Text color */
}

.selectedSeat {
  background-color: #007bff;
}

.seatGap {
  width: 20px;
}

/* SeatSelectionPopup.module.css */

.confirmBtn {
  background-color: gray; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  text-align: center; /* Center text */
  display: block; /* Block display to make it full-width */
  width: 100%; /* Full width */
  margin-top: 20px; /* Space above the button */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.confirmBtn:hover {
  background-color:#007bff; /* Darker green on hover */
}

.confirmBtn:disabled {
  background-color: #ccc; /* Gray background when disabled */
  cursor: not-allowed; /* Not allowed cursor when disabled */
}

