.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.321);
    z-index: 1000;
  }
  
  .popupContent {
    background: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 22px gray;
    width: 60vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .closeBtn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white; /* Ensure the close button is visible */
    z-index: 1001; /* Make sure it's above other elements */
  }
  
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .details label {
    margin-bottom: 10px;
    color: white; /* Ensure text is visible */
  }
  
  .details input {
    width: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .priceDetails {
    margin-top: 20px;
    text-align: center;
    color: white; /* Ensure text is visible */
  }
  .yourComponentClass {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  