@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x:calc();
}
:root {
  background-color:black;
  text-color:white;
}

.dark-mode {
  background-color:white;
  text-color: black;
}

button{
  padding:0px;
}
a,
li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.slick-dots li button {
  display: none;
}

/* Global Styles */

:root {
  --primary-color: #000000; /* Default text color for light mode */
  --background-color:whitesmoke; /* Default background color for light mode */
  --icon-color: whitesmoke; /* Default icon color for light mode */
  --scrolled-bg-color: whitesmoke; /* Background color when scrolled in light mode */
}

.dark-mode {
  --primary-color:black; /* Text color for dark mode */
  --background-color: #121212; /* Background color for dark mode */
  --icon-color:gray; /* Icon color for dark mode */
  --scrolled-bg-color:gray; /* Background color when scrolled in dark mode */
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

/* Add this to apply the theme to all text in the header */
header {
  color: var(--primary-color);
}

.icon {
  color: var(--icon-color); /* This will apply to your React icons */
}

.scrolled {
  background-color: var(--scrolled-bg-color); /* Dynamic background based on theme */
}

/* Add any additional styling you need to adjust for dark mode here */

@media (max-width: 991px) {
  .mobileMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    border-top: 1px solid #495057;
    z-index: 1000;
  }

  .mobileMenu .nav-link {
    display: block;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
  }

  .mobileMenu .nav-link:hover {
    background-color: #495057;
  }
}
